/* Background Image */
html {  
    height:100%;
    margin:0;
  }

body { 
    background: url(/Users/llenroc/Desktop/IMG_1445.jpg);
    animation: fadeInAnimation ease 3s; 
    animation-iteration-count: 1; 
    animation-fill-mode: forwards; 
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    
} 
@keyframes fadeInAnimation { 
    0% { 
        opacity: 0; 
    } 
    100% { 
        opacity: 1; 
    } 
}

.container {
    display: flex;
    width:100%;
    margin:0; 
    padding:2rem;
    flex-flow: row wrap;
    justify-content: flex-start;
}

.navbarnavbar-darkbg-dark {
    display: flex;
    width: 100%;
    margin-top: 0;
    flex-flow: row wrap;
    justify-content: flex-start;
   
}
.navbar-brand {
    display: flex;
    font-size: 60px;
    font-weight:bold;
    font-family: 'Six Caps', sans-serif; 

}
.navbar-nav {
    display: flex;
    font-family: 'Six Caps', sans-serif;
    font-size:5rem;
    flex-flow: row wrap;
    justify-content: flex-end;
}
#nav {
    display: flex;
    opacity:0.5;
    filter:(opacity=50);
    width: 100%;
    margin:0;
    margin-bottom: 2rem;
}


.jumbotron {
    display: flex;
    background-color: #A9A9A9; 
    justify-content: center;
}

h1 {
    font-size:60ox;
    font-weight:bold;
    font-family: 'Six Caps', sans-serif;

}

/* Text Column */

col {
    font-family: 'Six Caps', sans-serif; 
}

/* Card Bodies */

.card-deck {
   display: flex;
   background-color: #A9A9A9;
   justify-content: space-evenly;
   flex-shrink: 3;

}